VITE_DISCORD_CLIENT_ID=YOUR_DISCORD_APPLICATION_ID
DISCORD_CLIENT_ID=YOUR_DISCORD_APPLICATION_ID
DISCORD_CLIENT_SECRET=YOUR_DISCORD_CLIENT_SECRET
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
PRAIN_APP_URL=https://YOUR_DEPLOYED_APP_URL
PORT=3000
VITE_BACKEND_URL=http://127.0.0.1:8000
BACKEND_URL=http://127.0.0.1:8000
